.skills__container {
  grid-template-columns: repeat(2, 450px);
  column-gap: 3rem;
  justify-content: center;
}

.skills__content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}

.skills__title {
  font-weigth: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 3.5rem;
}

.skills__group {
  display: grid;
  align-items: flex-start;
  row-gap: 2rem;
  margin-bottom: 1rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}

.skill__icon {
  font-size: 1rem;
  color: red;
}

.skill__icon2 {
  font-size: 1rem;
  color: blue;
}

.skills__name {
  font-size: var(--normal-font-size);
  line-height: 18px;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .skills__container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

/* For medium devices */
@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;
    grid-template-columns: 335px;
  }
  .skills__content {
    padding: 1.5rem;
  }
  .skills__group {
    font-size: var(--tiny-font-size);
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .skills__container {
    grid-template-columns: 400px;
  }
  .skills__name {
    font-size: var(--medium-font-size);
  }
}
